<table
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="background-color: rgb(7, 0, 62); border-collapse: collapse"
  bgcolor="#07003e"
>
  <tbody>
    <tr>
      <td
        align="center"
        valign="top"
        style="padding: 40px 0px; border-collapse: collapse"
      >
        <table
          align="center"
          width="650"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="
            width: 650px;
            border-radius: 8px;
            overflow: hidden;
            border-collapse: collapse;
            background-color: rgb(255, 255, 255);
          "
          bgcolor="#ffffff"
        >
          <tbody>
            <tr>
              <td
                valign="top"
                style="border-collapse: collapse"
                bgcolor="#ffffff"
              >
                <img
                  src="https://ci3.googleusercontent.com/meips/ADKq_NaF6tDnwVZUj6HhODmDGzclSpacUFFny4H0iKQu2CdFKFk6x9esQ7XvrLbhF0ynpUgJmeY8uan0H2Hfu6OfRmvQ4TJEXh9K-NzMAUwm5gJp0oe1NVrV2EQDAorQDTYmNrOtcv4=s0-d-e1-ft#https://raw.githubusercontent.com/icpepsepupmanila/email-asset/main/header.png"
                  alt="Header"
                  width="650"
                  style="
                    display: block;
                    width: 100%;
                    height: auto;
                    border: none;
                    outline: 0px;
                    line-height: 100%;
                  "
                  class="gmail_canned_response_image"
                />
              </td>
            </tr>

            <tr>
              <td
                valign="top"
                align="center"
                style="padding: 24px 40px 0px; border-collapse: collapse"
                bgcolor="#ffffff"
              >
                <h2
                  style="
                    margin: 0px;
                    font-family: Arial, sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    color: rgb(7, 0, 62);
                    line-height: 1.4;
                  "
                >
                  <strong
                    >Warmest Regards from the Computer Engineers of
                    Tomorrow!</strong
                  >
                </h2>
              </td>
            </tr>

            <tr>
              <td
                valign="top"
                style="
                  padding: 24px 40px;
                  font-family: Arial, sans-serif;
                  font-size: 15px;
                  line-height: 1.6;
                  text-align: justify;
                  color: rgb(7, 0, 62);
                  border-collapse: collapse;
                "
                bgcolor="#ffffff"
              >
                <p style="margin: 0px 0px 16px"><b>Hi {recipient}</b></p>
                <p style="margin: 0px 0px 16px">Message here.</p>
              </td>
            </tr>

            <tr>
              <td
                valign="top"
                style="
                  padding: 0px 40px 32px;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  line-height: 1.6;
                  color: rgb(7, 0, 62);
                  border-collapse: collapse;
                "
                bgcolor="#ffffff"
              >
                <p style="margin: 0px">Best Regards,</p>
                <p style="margin: 4px 0px 0px; font-weight: 600">
                  ICPEP SE – PUP Manila
                </p>
              </td>
            </tr>

            <tr>
              <td
                valign="top"
                align="center"
                style="
                  padding: 20px 40px;
                  border-collapse: collapse;
                  background-color: rgb(7, 0, 62);
                "
                bgcolor="#07003e"
              >
                <p
                  style="
                    margin: 0px;
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                  "
                >
                  Engineering Tomorrow, One Student at a Time
                </p>
              </td>
            </tr>

            <tr>
              <td
                align="center"
                style="padding: 32px 40px; border-collapse: collapse"
                bgcolor="#ffffff"
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="border-collapse: collapse"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          padding: 0px 16px;
                          vertical-align: middle;
                          border-collapse: collapse;
                        "
                      >
                        <a
                          href="https://www.facebook.com/icpepse.pupmanila"
                          style="text-decoration-line: none"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/icpepse.pupmanila&amp;source=gmail&amp;ust=1763394915618000&amp;usg=AOvVaw3FlqPl6nCtBuDDNCDhIEzF"
                        >
                          <img
                            src="https://ci3.googleusercontent.com/meips/ADKq_NZqWzdh4wXtN7CEONr7kVoGEU5C_LqvdUtYvAFWEQDO3XYzJm7qZ4_BO39hOzTJKQwbz4tpXvFrTQy5AExvNfmrziWTmfROXfMFA_ReYuUzYj-N_e5Uy6NMQSVpA1js9MixwK4FEbc-KGNP8zKltqE3=s0-d-e1-ft#https://raw.githubusercontent.com/icpepsepupmanila/email-asset/refs/heads/main/facebook.png"
                            alt="Facebook"
                            width="15"
                            style="
                              width: 15px;
                              height: auto;
                              border: none;
                              display: block;
                              outline: 0px;
                              line-height: 100%;
                            "
                            class="gmail_canned_response_image"
                          />
                        </a>
                      </td>
                      <td
                        style="
                          padding: 0px 16px;
                          vertical-align: middle;
                          border-collapse: collapse;
                        "
                      >
                        <a
                          href="https://www.instagram.com/icpep.se_pup?igsh=cThzcHptZ2ZmaWRx"
                          style="text-decoration-line: none"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/icpep.se_pup?igsh%3DcThzcHptZ2ZmaWRx&amp;source=gmail&amp;ust=1763394915618000&amp;usg=AOvVaw1WKLVMo9MFTN8omylftQaM"
                        >
                          <img
                            src="https://ci3.googleusercontent.com/meips/ADKq_Na68mzjkBRGXu_Ky7n44cg2lmLTTfo0vXDDzO6OMPx3NXWtVhii8Eb42a4cprMANGE7mNMMNksIwi5ShoATob722rdAvHUW7-CaZG4DILD7TvoUZRirV3ASa8lkgwcrmSLJOPPf-ivwPm9uN6kUYydyyw=s0-d-e1-ft#https://raw.githubusercontent.com/icpepsepupmanila/email-asset/refs/heads/main/instagram.png"
                            alt="Instagram"
                            width="24"
                            style="
                              width: 24px;
                              height: auto;
                              border: none;
                              display: block;
                              outline: 0px;
                              line-height: 100%;
                            "
                            class="gmail_canned_response_image"
                          />
                        </a>
                      </td>
                      <td
                        style="
                          padding: 0px 16px;
                          vertical-align: middle;
                          border-collapse: collapse;
                        "
                      >
                        <a
                          href="https://www.linkedin.com/company/icpepse-pupmanila"
                          style="text-decoration-line: none"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/icpepse-pupmanila&amp;source=gmail&amp;ust=1763394915618000&amp;usg=AOvVaw1PIi9tLiWL20ic8ikxCX-1"
                        >
                          <img
                            src="https://ci3.googleusercontent.com/meips/ADKq_NZjl1PfaAhJ7OIDb7K97FSJGKF9q1kQ2M7amnvHmKh_gJkqI1HSn8C2dOImKlQ4x5w25_zvrdHBlaMzxfayp243WGyxpFGrg8L7A0WX5AIC-Tx7481SpxwS2MwV3uaTpTeN5fbrQNzaGa3VRuiDQcJj=s0-d-e1-ft#https://raw.githubusercontent.com/icpepsepupmanila/email-asset/refs/heads/main/linkedin.png"
                            alt="LinkedIn"
                            width="24"
                            style="
                              width: 24px;
                              height: auto;
                              border: none;
                              display: block;
                              outline: 0px;
                              line-height: 100%;
                            "
                            class="gmail_canned_response_image"
                          />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p
                  style="
                    margin: 24px 0px 0px;
                    font-family: Arial, 'IBM Plex Sans', sans-serif;
                    font-size: 12px;
                    color: rgb(85, 85, 85);
                  "
                >
                  Share your excitement—post on social media and tag us!
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
